addict
aiofiles
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
cycler
dash
debugpy
decorator
defusedxml
deprecation
engineering-notation
exceptiongroup
executing
fastjsonschema
fonttools
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_packaging
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
plotly
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
open3d
opencv-contrib-python
opencv-python
pkgutil_resolve_name
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
PyQt5
pyrealsense2
python-dateutil
python-json-logger
pytransform3d
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tomli
tomlkit
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
y-py
ypy-websocket
zipp
